/* *********************************************************************************** 
Start of code from:
RESPONSIVE 12-COLUMN GRID from SELF STUDY MATERIALS
https://github.com/learnCodeForUXUI/CSS_Grid/blob/master/6_responsive_12_column_grid/css/design.css
*********************************************************************************** */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.cell {
    background-color: rgb(220, 220, 220);
    height: 100px;
}

/* default - small devices */

[class*="col"] {
    grid-column-end: span 12;
}

/* below 600px typically phone*/

@media only screen and (max-width: 600px) {
    .sm1 {
        grid-column-end: span 12;
    }
    .sm2 {
        grid-column-end: span 6;
    }
    .sm3 {
        grid-column-end: span 4;
    }
    .sm4 {
        grid-column-end: span 3;
    }
    .sm6 {
        grid-column-end: span 2;
    }
    .sm12 {
        grid-column-end: span 1;
    }

	.sm8{
		grid-column-end: span 8;
	}
}

/* above 601px typically tablet*/

@media only screen and (min-width: 601px) {
    .md1 {
        grid-column-end: span 12;
    }
    .md2 {
        grid-column-end: span 6;
    }
    .md3 {
        grid-column-end: span 4;
    }
    .md4 {
        grid-column-end: span 3;
    }
    .md6 {
        grid-column-end: span 2;
    }
    .md12 {
        grid-column-end: span 1;
    }
	.md8{
		grid-column-end: span 8;
	}
}

/* above 1025px typically desktop*/

@media only screen and (min-width: 1025px) {
    .col1 {
        grid-column-end: span 12;
    }
    .col2 {
        grid-column-end: span 6;
    }
    .col3 {
        grid-column-end: span 4;
    }
    .col4 {
        grid-column-end: span 3;
    }
    .col6 {
        grid-column-end: span 2;
    }
    .col12 {
        grid-column-end: span 1;
    }

	.col8{
		grid-column-end: span 8;
	}
}

/* *********************************************************************************** 
End of code from:
RESPONSIVE 12-COLUMN GRID from SELF STUDY MATERIALS
https://github.com/learnCodeForUXUI/CSS_Grid/blob/master/6_responsive_12_column_grid/css/design.css
*********************************************************************************** */


/* *********************************************************************************** 
Start of code from:
OFF SCREEN NAVIGATION SELF STUDY
https://github.com/learnCodeForUXUI/Web_Navigation/blob/master/4_off_screen_navigation/css/design.css
*********************************************************************************** */

.mobile #nav-trigger {
    display: none;
}
.mobile .nav-trigger {
    position: absolute;
}
.mobile label[for="nav-trigger"] {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 200;
    cursor: pointer;
}
.mobile .nav-trigger + label,
..mobile navigation {
    transition: right 0.4s;
}
.mobile .nav-trigger:checked + label {
    right: 215px;
}
.nav-trigger:checked ~ .navigation {
    right: 0;
}
nav.mobile  ul {
    list-style-type: none;
    padding: 0;
    /*    new*/
    margin: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -200px;
    bottom: 0;
    z-index: 200;
    text-align: left;
    background: #ccc;
}
nav.mobile li {
    /*    width: 150px;*/
    margin: 10px 0;
    /*    text-align: center;*/
}
.mobile a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    background: #ddd;
    transition: all 0.7s;
}
.mobile a:hover {
    color: #fff;
    background: #333;
}

/* *********************************************************************************** 
Start of code from:
OFF SCREEN NAVIGATION SELF STUDY
https://github.com/learnCodeForUXUI/Web_Navigation/blob/master/4_off_screen_navigation/css/design.css
*********************************************************************************** */